
:root{
  --primary: #C09F80;
  --plight: #eeffff;
  --pdark: #8aacc8;
  --ptext:  #000000;
  --secondary:#D7CEC7 ;
  --slight:#FFF3EA ;
  --sdark:#A1846D ;
  --stext: #ffffff;
  --tertiary: #87ba97;
  --tlight:#b8edc8;
  --tdark:#598a69;
}
*{
  padding: 0;
  margin:0;
  font-family: Arial, sans-serif;
}
a{
  text-decoration: none;
  color: #000000; 
  font-family: "Playfair Display", serif;
  font-size: 17px;
}
a:hover{
  color: var(--tdark);
}
body{
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8bdec6bc-0ef4-4d9c-bf67-5fdaaea0b446/d3jkpsh-0a5bc4aa-5009-446c-883a-6bbabb4918ad.jpg/v1/fill/w_894,h_894,q_70,strp/tileable_wood_texture_by_ftourini_d3jkpsh-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6IlwvZlwvOGJkZWM2YmMtMGVmNC00ZDljLWJmNjctNWZkYWFlYTBiNDQ2XC9kM2prcHNoLTBhNWJjNGFhLTUwMDktNDQ2Yy04ODNhLTZiYmFiYjQ5MThhZC5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.jLT74v6dHBZwOSDaKwGbxA90i7ofh-M84T-vVkbgvLM);
  margin: 40px
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, [col] 1) ;
  grid-template-rows: repeat(2, [row] auto  );
  color: #444;
  width: 100%;
}


main{
  width: 90vw;
    background-color: var(--plight);
    text-align: center;
    margin: auto;
    padding: 1em;
}

h1{
  text-align: center;
  padding: 0.5em;
  color: var(--ptext);
  padding-bottom: 0;
  margin-bottom: 0.5em;
  font-family: "Simplifica";
  font-size: 35px
}

.BIGGRID{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
  flex-wrap: wrap;
}


h3{
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 20px;
  margin-bottom: 5px;
}
ul{
  margin: 0.5em;
  padding: 0.5em;
  background-color: var(--secondary);
  width: 90vw;
  border-radius: 10px;
}

li{
  list-style: none
}
.btn {
  border-radius: 5px;
  padding: 5px 12px;
  font-size: 16px;
  background-color:var(--primary);
  color: var(--ptext);
  position: relative;
  margin: auto;
  width: 100%;
  border-color: var(--primary);
}

.ribbon {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -15px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #76323F;
  color: white;
}

.ribbon3 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #79855e;
  color: white;
}

.ribbon2 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #004E4F;
  color: white;
}

.ribbon4 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: 20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #004E4F;
  color: white;
}

.ribbon5 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: 23px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #76323F;
  color: white;
}

p{
  text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
}



ul{
  margin-left: 1em;
  text-align: left;
}
.Vegetarian{
  color: green;
  display: inline;
  font-weight: bold;
}

@media only screen and (min-width: 1281px) {
  main{
    width: 50vw;
    background-color: var(--plight);
    text-align: center;
    margin: auto;
    margin-bottom:5em;
}
p{
  margin-left: 2vw;
  margin-right: 2vw;
  padding-bottom: 1em;
}
ul{
  margin: 0.5em;
  padding: 0.5em;
  background-color: var(--secondary);
  border-radius: 10px;
  width: 16em;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, [col] 1) ;
  grid-template-rows: repeat(2, [row] auto  );
  color: #444;
  width: 100%;
  column-width: 50vw;
}
.ribbon {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -15px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #76323F;
  color: white;
}

.ribbon3 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #79855e;
  color: white;
}

.ribbon2 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #004E4F;
  color: white;
}

.ribbon4 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #004E4F;
  color: white;
}

.ribbon5 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #76323F;
  color: white;
}
}


@media only screen and (min-width: 768px) and (max-width: 1281px) {
  main{
    width: 70vw;
    background-color: var(--plight);
    text-align: center;
    margin: auto;
    margin-bottom:5em;
}

p{
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
}
ul{
  margin: 0.5em;
  padding: 0.5em;
  background-color: var(--secondary);
  border-radius: 10px;
  width: 16em;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, [col] 1) ;
  grid-template-rows: repeat(2, [row] auto  );
  color: #444;
  width: 100%;
  column-width: 50vw;
}
.ribbon {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -15px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #76323F;
  color: white;
}

.ribbon3 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #79855e;
  color: white;
}

.ribbon2 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #004E4F;
  color: white;
}

.ribbon4 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #004E4F;
  color: white;
}

.ribbon5 {
  width: auto;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: -20px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #76323F;
  color: white;
}
}